{{#resume.basics}}
	<section class="home" id="home">
		<div class="home__container section bd-grid">
			<!--========== HOME ==========-->
			<div class="home__data bd-grid">
				<img src="{{image}}" alt="" class="home__img">
				<h1 class="home__title"><b>{{name}}</b></h1>
				<h3 class="home__profession">{{label}}</h3>
				<div>
					<a download="" href="assets/pdf/monResume.pdf" class="home__button-movil">Download</a>
				</div>
				<!--========== CONTACT ==========-->
				<div class="home__address bd-grid">
					<spam class="home__information">
						<i class='bx bx-map home__icon' ></i> 
							{{#location}}
								{{#if address}}
									{{address}}
								{{/if}}
								{{#if postalCode}}
									{{postalCode}}
								{{/if}}
								{{#if city}}
									{{city}}
								{{/if}}
								{{#if region}}
									{{region}}
								{{/if}}
								{{#if countryCode}}
									{{countryCode}}
								{{/if}}
							{{/location}}
					</spam>
					{{#if email}}
					<spam class="home__information">
						<i class='bx bx-envelope home__icon' ></i> 
							{{email}}
					</spam>
					{{/if}}
					{{#if phone}}
					<spam class="home__information">
						<i class='bx bx-phone home__icon' ></i>
							{{phone}}
					</spam>
					{{/if}}
					{{#if url}}
					<spam class="home__information">
						<i class='bx bx-globe home__icon' ></i>
						<a href="{{url}}" target="_blank">
							{{url}}
						</a>
					</spam>
					{{/if}}
				</div>
			</div>
		</div>
		<!-- Theme change button -->
			<i class='bx bx-moon change-theme ' title="Theme" id="theme-button"></i>
		<!-- Button to generate and download the pdf. Available for desktop. -->
			<i class='bx bx-download generate-pdf' title="Generate PDF" id="resume-button"></i>
			

	</section>          
	<!--========== SOCIAL ==========-->
	<section class="social section">
		<h2 class="section-title">SOCIAL</h2>
		<div class="social__container bd-grid">
			{{#profiles}}
			<a href="{{url}}" class="social__link" target="_blank">
				<i class='{{iconClass}} social__icon' ></i> 
				{{!-- {{network}}  --}}
				@{{username}}
			</a>
			{{/profiles}}
		</div>
	</section>
	<!--========== ABOUT ME ==========-->
	<section class="profile section" id="profile">
		<h2 class="section-title">Profile</h2>
		<p class="profile__description">
			<!-- ABOUT ME -->
			{{{summary}}}
		</p>
	</section>
{{/resume.basics}}