<section class="education section" id="education">
	<h2 class="section-title">FORMATION SUPÉRIEURE</h2>
	
	<div class="education__container bd-grid">
		{{#resume.education}}

		<div class="education__content">
			<div class="education__time">
				<spam class="education__rounder"></spam>
				{{#if @last}} {{else}} 
					<spam class="education__line"></spam>
				{{/if}}
			</div>
			<div class="education__data bd-grid">
				<h3 class="education__title">{{studyType}}</h3>
				<spam class="education__studies">{{institution}}</spam>
				<spam class="education__year">
					{{#if startDate}}
						{{startDateMonth}}{{startDateYear}}
					{{/if}}
					{{#if endDate}}
						&nbsp;{{endDateMonth}}{{endDateYear}}
					{{else}}
						&nbsp;Present
					{{/if}}
				</spam>
				{{#if url}}
					<spam class="education__studies">{{url}}</spam>
				{{/if}}
				{{#if area}}
					<spam class="education__studies">{{area}}</spam>
				{{/if}}
				{{#if score}}
					<spam class="education__studies">{{score}}</spam>
				{{/if}}
				{{#if courses.length}}
					<ul class="courses">
						{{#each courses}}
						<li>{{.}}</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>
		</div>

		{{/resume.education}}
	</div>
</section>