{{#if resume.work.length}}
	<section class="experience section" id="experience">
		<h2 class="section-title">Expériences professionnelles</h2>
		<div class="experience__container bd-grid">
			{{#each resume.work}}
				<div class="experience__content">
					<div class="experience__time">
						<spam class="experience__rounder"></spam>
						{{#if @last}} {{else}} 
							<spam class="experience__line"></spam>
						{{/if}}
					</div>
					<div class="experience__data bd-grid">
						<h3 class="experience__title">
							{{#if position}}
								{{position}}
							{{/if}}
						</h3>
						<span class="experience__company">
							{{#if startDate}}
								{{startDateMonth}}{{startDateYear}}
							{{/if}}
							{{#if endDate}}
								- {{endDateMonth}}{{endDateYear}}
							{{else}}
								- Present
							{{/if}}
							|
							{{#if name}}
								{{name}}
							{{/if}} 
							|
							{{#if location}}
								{{location}}
							{{/if}} 
						</span>
						{{#if description}}
							<p>{{{description}}}</p>
						{{/if}}
						{{#if url}}
							<a href="{{url}}">{{url}}</a>
						{{/if}}
						<h3 class="experience__title">
							<u>
								Mission(s) et réalisations :
							</u>
						</h3>
						<div class="experience__description">
							{{#if highlights.length}}
							<ul class="highlights ">
								{{#each highlights}}
								<li>{{{.}}}</li>
								{{/each}}
							</ul>
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</section>
{{/if}}